
name: "Static Analysis"

on:
  pull_request:
    branches:
      - "*.x"
  push:
    branches:
      - "*.x"

jobs:
  static-analysis-phpstan:
    name: "Static Analysis"
    uses: "doctrine/.github/.github/workflows/static-analysis.yml@1.5.1"
    with:
      php-version: "8.1"
